@import "tailwindcss";

@theme {
  --color-main-yellow: #fff223;
  --color-main-black: #000000;
  --color-main-white: #ffffff;

  --font-orbitron: var(--font-orbitron);
  --font-grunt: var(--font-grunt);
}
