# --- Frontend (Next.js) ---
frontend/node_modules/
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/*.tsbuildinfo
frontend/next-env.d.ts
frontend/.vercel

# --- Backend & AI (Python) ---
# Ігноруємо ВСІ папки .venv в будь-якому місці проєкту
**/.venv/
.venv/
venv/


# Ігноруємо кеш пітона
**/__pycache__/


# Ігноруємо секрети
.env
alembic.ini
# --- Firmware ---
firmware/.pio/
firmware/build/
firmware/.vscode/
firmware/.vscode/.browse.c_cpp.db*
firmware/.vscode/c_cpp_properties.json
firmware/.vscode/launch.json
firmware/.vscode/ipch
firmware/*.hex
firmware/*.bin
firmware/src/config/secrets.h

# --- System & Debug ---
.DS_Store
Thumbs.db
*.pem
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# --- Secret Keys (CRITICAL) ---
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env*